mixin createPostForm(userLoggedIn)
    .postFormContainer  
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User Logged in")
        .textareaContainer  
            textarea#postTextarea(placeholder='Whats up ?') 
            .buttonContainer    
                button#submitButton() Post

mixin createModalPost(userLoggedIn)
    #replayModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replayModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replayModalLabel.modal-title Replay
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer  
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="User Logged in")
                        .textareaContainer  
                            textarea#replayTextarea(placeholder='Whats up ?') 
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitModalButton.btn.btn-primary(type='button' disabled='') Replay
mixin createDeletePostModal(userLoggedIn)
    #deltePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deleteModalLabel.modal-title Delete
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p You wont be able to delte it
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Replay
mixin createPostmodals(userLoggedIn)
    +createModalPost(userLoggedIn)
    +createDeletePostModal(userLoggedIn)